#pics {
	width: 100%;
	height: 100vh;
	background: violet;
	padding: 5vw;
	position: relative;
	overflow: hidden;
	h1 {
		font: bold 100px/1 "arial";
		color: #fff;
	}
	article {
		width: 200px;
		height: 200px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
