#vids {
	width: 100%;
	height: 100vh;
	background: orange;
	.swiper {
		height: 100%;
		padding: 12vw 0px;
		.controls {
			position: absolute;
			bottom: 50px;
			left: 60px;
			display: flex;
			gap: 30px;
			font-size: 24px;
			color: #fff;
			z-index: 5;

			svg {
				cursor: pointer;
				opacity: 0.4;
				transform: scale(1);
				transition: opacity 0.5s, transform 0.5s;

				&.on {
					opacity: 1;
					transform: scale(1.5);
				}
			}
		}

		.swiper-slide {
			width: 100%;

			.inner {
				width: 100%;
				height: 100%;
				background: #fff;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: flex-start;
				color: #333;
				padding: 30px;
				opacity: 0.5;
				transform: scale(0.8);
				transition: opacity 0.5s, transform 0.5s;
				.pic {
					width: 100%;
					height: 40%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				h2 {
					font: normal 40px/1 "arial";
					color: #111;
					margin-top: 15px;
				}
				p {
					font: 14px/1.3 "arial";
					color: #bbb;
					margin-top: 30px;
				}
			}
		}
		.swiper-slide-active {
			.inner {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
@media screen and (max-width: $tablet) {
	#vids {
		.swiper {
			padding: 12vw 50px;
		}
	}
}
