.Youtube {
	> .inner {
		article {
			border-top: 1px solid #ddd;
			padding: 20px 0px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			h2 {
				width: 25%;
				font: bold 28px/1 "work sans";
				color: #555;
			}
			.txt {
				width: 38%;
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				p {
					font: 14px/1.2 "arial";
					color: #999;
				}
				span {
					font: 12px/1 "arial";
					color: orange;
				}
			}
			.pic {
				width: 35%;
				height: 15vw;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Youtube {
		> .inner {
			article {
				h2 {
					width: 48%;
					margin-bottom: 20px;
				}
				.txt {
					width: 50%;
				}
				.pic {
					width: 100%;
					height: 30vw;
					margin-top: 80px;
					margin-bottom: 50px;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.Youtube {
		> .inner {
			article {
				h2 {
					width: 100%;
				}
				.txt {
					width: 100%;
				}
				.pic {
					margin-top: 40px;
					margin-bottom: 30px;
				}
			}
		}
	}
}
