header {
	width: 100%;
	background: #fff;
	padding: 20px 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;

	h1 {
		a {
			font: bold 24px/1 "arial";
			color: #555;
		}
	}

	#gnb {
		display: flex;
		gap: 50px;

		li {
			a {
				font: 15px/1 "arial";
				color: #ddd;

				&.on {
					color: #000;
					font-weight: bold;
				}
			}
		}
	}
}
