@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
.content {
	figure {
		width: 100%;
		height: 300px;
		background: gray;
		opacity: 0;
		transition: 1s 0.3s;
	}
	> .inner {
		padding: 100px 10vw;
		min-height: 600px;
		opacity: 0;
		transform: translateY(200px);
		transition: 1s 0.5s;
		h1 {
			font: normal 70px/1 "work sans";
			color: #333;
			margin-bottom: 30px;
			&::before {
				content: "";
				display: block;
				width: 100px;
				height: 1px;
				background: #333;
				margin-bottom: 30px;
			}
		}
	}
}

//활성화 모션
.content.on {
	figure {
		opacity: 1;
	}
	> .inner {
		opacity: 1;
		transform: translateY(0px);
	}
}
